<% if user_signed_in? %>
<h1>You Are Signed In</h1>

<div> 
  <%= render "shared/article_form" %>
</div>
<div>
  <ul>
    <% Article.find_each do |article| %>
      <li>
        <%= article.title %>
        <%= article.body %>
      </li>
    <% end %>
  </ul>
</div>
  
<%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete }, class: "btn btn-outline-primary btn-pill" %>
<% end %>