<div class="mt-5 border border-dark">
  <div class="my-3">
    <small class="ms-3"><strong>Comments: </strong><%= @article.comments.count %></small>
  </div>
 
  <div class="mx-3">
    <% @article.comments.where(parent_id: nil).each do |comment| %>
      <%= render 'comments/comment_display', comment: comment, article: @article %>
    <% end %>
  </div>

</div>
