<div class="footer d-flex flex-row justify-content-around align-items-center text-bg-dark">
 
    <div class="">
      <small><h5 class="txt-fh mt-0 mx-3"> Sophia </small><span class="">&#183;</span></h5>
    </div>
  
  <div class=""> 
    <div class="d-flex flex-row mt-2">
      <p class="txt-f px-2">Privacy Policy</p>

      <p class="txt-f px-4">Terms & Conditions</p>
      
      <p class="txt-f pe-1"> &copy; Copyright 2021</p>

      <p class="txt-f">All rights reserved</p>
    </div>
  </div>

    <p class="txt-f mt-2">Developed by
      <a href='https://github.com/German-Cobian/Sophia' target=''>German Cobian</a>
    </p>
</div>