<div class="d-flex flex-row justify-content-center">
  <div class="d-flex flex-column pt-3">
    <div>
      <h4>New Event Create</h4>
    </div>
    <div>
      <%= render '/events/form', event: @event %>
    </div>
    <div class="mt-3">
      <small><%= link_to 'Back', events_path %></small>
    </div>
  </div>
</div>
