<div class="d-flex flex-row justify-content-between mt-5">
  <% Category.find_each do |category|%>
    <li>
      <b><%= category.topic %></b>
      <% category.articles.each do |article|%>
        <div>
          <%= article.title %>
          <%= article.body %>
          <p><b>Author: </b><%= article.user.username %></p>
        <div>
      <% end %>
    </li>
  <% end %>
</div>