<div>

  <div class="d-flex flex-row justify-content-center my-3 mx-5 border" style="height:300px">
    <% articles = Article.order('created_at DESC').limit(1) %>
    <% articles.each do |article| %>
      <div class="w-100" >
          <div class="mx-5">
            <h6 class="txt-orange"><%= article.title %></h6>
            <small><p><%= article.body %></p></small>
          </div>
      </div>
    <% end %>
  </div>

  <div class="d-flex flex-row justify-content-between mx-5" style="height:200px">
    <% categories = Category.includes(:most_recent_article) %>
    <% categories.each do |category| %>
    
      <div class="d-flex flex-column border w-25 mx-1 ">
        <div>
          <h6 class="px-2"><%= link_to category.topic, category %></h6>
        </div>
        <div>
          <small><p class="px-2"><%= link_to category.most_recent_article&.title, class:"" %></p></small>
        </div>
      </div>
    
    <% end %>
  </div>

<div>